# --- Папка сборки Maven ---
target/
*.jar
*.war
*.ear

# --- Специфичные файлы Eclipse ---
.metadata/
.classpath
.project
.settings/
bin/
*.launch

# --- Временные файлы операционных систем ---
.DS_Store
Thumbs.db
Desktop.ini

# --- Файлы других сред разработки (на случай, если кто-то откроет в IntelliJ) ---
.idea/
*.iml
*.iws
.vscode/
